@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* custom css classes go here*/
  #card-back {
    position: relative;
    width: 384px;
    height: 244px;
    background-image: url('../../public/images/card-back.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
    #card-details {
      padding-top: 40%;
      padding-left: 4%;
      color: white;
      font-size: 14px;
      font-variant: tabular-nums;
      letter-spacing: 0rem;
    }
    #cardholder-name,
    #card-number,
    #card-expiry,
    #card-cvc {
      height: 24px;
    }
    #card-expiry,
    #card-cvc {
      width: 50px;
    }
    #expiry-cvc-wrapper {
      display: flex;
    }
    #expiry-wrapper,
    #cvc-wrapper {
      display: flex;
      align-items: center;
    }
    #expiry-wrapper {
      width: 75px;
    }
    #card-expiry,
    #card-cvc {
      margin-left: 4px;
    }
}
